.logo {
    padding: 10px;
}
.red {
    color: red;
}
.black {
    color: black;
}
.tab { margin-left: 40px; }

li {
  margin: 10px 0;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px 2px 2px 8px;
    vertical-align: middle;
}

